body {
  margin: 0;
  background-color: #202124;
}

/* Fonts */

.h1 {
  font-size: 34px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #ffffff;
  font-family: "Pixelify Sans";
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  font-family: "Pixelify Sans";
  font-weight: bold;
  text-align: center;
}

.fontNormel {
  font-size: 16px;
  color: #8d8a8d;
  margin-top: 0px;
  font-family: "Pixelify Sans";
}

/* Icon */

.icon {
  width: 28px;
  margin: 8px;
  object-fit: contain;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: #242529;
}

.headerLeftPart {
  display: flex;
}

.inputSearch {
  height: 2vh;
  width: 26vw;
  border-radius: 6px;
  border: none;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: #242529;
}

/* Content */

.contentBasis {
  margin: 38px 58px 38px 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonCard {
  height: 175px;
  width: 200px;
  background-color: blue;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
}

.pokemonCardUnderPart {
  display: flex;
  justify-content: space-around;
}

.pokemonCardUnderTyp {
  margin: 8px;
  padding: 6px 12px 6px 12px;
  border-radius: 12px;
  background-color: #00000042;
}
