body {
  margin: 0;
  background-color: #202124;
}

/* Fonts */

.h1 {
  font-size: 34px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #ffffff;
  font-family: "Pixelify Sans";
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  font-family: "Pixelify Sans";
  font-weight: bold;
  text-align: center;
}

.pokedexNumberFont {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff98;
  font-family: "Pixelify Sans";
  font-weight: bold;
  text-align: center;
}

.typFont {
  font-size: 16px;
  color: #ffffff;
  font-family: "Pixelify Sans";
  text-align: center;
}

/* Icon */

.icon {
  width: 28px;
  margin: 8px;
  object-fit: contain;
}

/* Type Colors*/

.bug {
  background-color: #a8b820;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038f8;
}

.electric {
  background-color: #f8d030;
}

.fairy {
  background-color: #ee99ac;
}

.fighting {
  background-color: #c03028;
}

.fire {
  background-color: #f08030;
}

.flying {
  background-color: #a890f0;
}

.ghost {
  background-color: #705898;
}

.grass {
  background-color: #78c850;
}

.ground {
  background-color: #e0c068;
}

.ice {
  background-color: #98d8d8;
}

.normal {
  background-color: #a8a878;
}

.poison {
  background-color: #a040a0;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
}

.water {
  background-color: #6890f0;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: #242529;
}

.headerLeftPart {
  display: flex;
}

.inputSearch {
  height: 2vh;
  width: 26vw;
  border-radius: 6px;
  border: none;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: #242529;
}

/* Content */

.basisContener {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBasis {
  margin: 38px 58px 38px 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonCard {
  height: 175px;
  width: 200px;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px 2px #000000b2;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.pokemonCard:hover {
  transform: scale(1.5);
}

.pokemonCardUpPart {
  display: flex;
  justify-content: space-evenly;
}

.pokemonCardUnderPart {
  display: flex;
  justify-content: space-around;
}

.pokemonCardUnderTyp {
  margin: 8px;
  padding: 6px 12px 6px 12px;
  border-radius: 12px;
  box-shadow: inset 17px 20px 20px 20px rgba(0, 0, 0, 0.141),
    0px 0px 8px 3px rgba(0, 0, 0, 0.3);
}

.morePokemon {
  height: 3vh;
  width: 26vw;
  border-radius: 6px;
  border: none;
  background-color: #242529;
  color: #ffffff98;
  margin-bottom: 16px;
  box-shadow: 8px 8px 10px 2px #00000029;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 40%;
  margin: 12px;
  border-radius: 24px;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.698);

}

.overlayCardUpPart {
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.overlayCardMidPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 12px;
}

.overlayCardTyp {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.overlayCardBottunTyp {
  background-color: white;
  height: 75%;
  width: 100%;
  border-radius: 24px;
  box-shadow: inset 8px 8px 3px 0px rgba(0, 0, 0, 0.141);
}